@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rowdies", cursive;
  background: whitesmoke;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

/* Creating a transparent background for the loader and centering the element */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

/* Centering loader svg image to the center */
#loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container {
  margin: 10px 30%;
}

.image-container img {
  width: 100%;
  margin-top: 5px;
}

/* Media Screen for Smartphone devices */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 16px;
  }
  .image-container {
    margin: 10px;
  }
}
